<h1> Edit this clinic </h1>

<%= form_for @clinic, controller: 'clinics', action: 'update' do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name %><br>

  <%= f.label :location%>
  <%= f.text_field :location %><br>

  <%= f.submit  %>
<% end %>
